<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../resources/css/news.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="rss" />
    <title><%= title %></title>
</head>
<body>
    <center>
        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tbody>
                <!-- 头部 -->
                <tr>
                    <td bgcolor="#ff6600">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                            <tbody>
                                <tr>
                                    <td style="width:18px;padding-right:4px">
                                        <a href="http://www.ycombinator.com"><img src="../resources/images/y18.gif" width="18" height="18" style="border:1px white solid;"></a>
                                    </td>
                                    <td style="line-height:12pt; height:10px;">
                                        <span class="pagetop">
                                            <b class="hnname"><a href="news">Hacker News</a></b>
                                            <a href="newest">new</a> | <a href="newcomments">comments</a> | <a href="show">show</a> | <a href="ask">ask</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>
                                        </span>
                                    </td>
                                    <td style="text-align:right;padding-right:4px;">
                                        <span class="pagetop">
                                            <a href="login?goto=news">login</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="height:10px"></tr>
                <!-- 头部 -->

                <!-- 中间新闻列表部分 -->
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                            <% for(var i = 0; i < items.length; i++) { %>
                            <tr class="athing" id="13718752">
                                <td align="right" valign="top" class="title">
                                    <span class="rank"><%=(i+1)%>.</span>
                                </td>
                                <td valign="top" class="votelinks">
                                    <center>
                                        <a id="up_13718752" href="vote?id=13718752&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a>
                                    </center>
                                </td>
                                <td class="title">
                                    <a href="/details?id=<%= items[i].id %>" class="storylink"><%= items[i].title %></a>
                                    <span class="sitebit comhead"> (<a href="from?site=chromium.org"><span class="sitestr">chromium.org</span></a>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="subtext">
                                    <span class="score" id="score_13718752">1481 points</span> 
                                    by <a href="user?id=tptacek" class="hnuser">tptacek</a> 
                                    <span class="age"><a href="item?id=13718752">7 hours ago</a></span> 
                                    <span id="unv_13718752"></span> | <a href="hide?id=13718752&amp;goto=news">hide</a> | <a href="item?id=13718752">569&nbsp;comments</a>
                                </td>
                            </tr>
                            <tr class="spacer" style="height:5px"></tr>
                            <% } %>
                            <!-- 最后一行之后还有一个More -->
                            <tr class="morespace" style="height:10px"></tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="title"><a href="news?p=2" class="morelink" rel="nofollow">More</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- 中间新闻列表部分 -->

                <!-- 尾部 -->
                <tr>
                    <td>
                        <img src="../resources/images/s.gif" height="10" width="0">
                        <table width="100%" cellspacing="0" cellpadding="1">
                            <tbody>
                                <tr>
                                    <td bgcolor="#ff6600"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <center>
                            <span class="yclinks">
                                <a href="newsguidelines.html">Guidelines</a> | <a href="newsfaq.html">FAQ</a>
                                | <a href="mailto:hn@ycombinator.com">Support</a>
                                | <a href="https://github.com/HackerNews/API">API</a>
                                | <a href="security.html">Security</a>
                                | <a href="lists">Lists</a>
                                | <a href="bookmarklet.html">Bookmarklet</a>
                                | <a href="dmca.html">DMCA</a>
                                | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
                                | <a href="mailto:hn@ycombinator.com">Contact</a>
                            </span>
                            <br><br>
                            <form method="get" action="//hn.algolia.com/">Search:
                                <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">
                            </form>
                        </center>
                    </td>
                </tr>
                <!-- 尾部 -->
            </tbody>
        </table>
    </center>
</body>
</html>